.App {
  text-align: center;

    /* TO MAKE THE FOOTER STICKY */
    height: 100vh;
    width: 100vw;
    display: flex; 
    flex-direction: column;

    /* 1st part --> start, last part --> end and everythin inbetween spaced evenly */
  /* putting header to very top and footer to very bottom, causing the space */
  justify-content:space-between;
  /* align-items: center; */
}

body{
  margin: 0;
  background-color: aliceblue;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

.header {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
background-color: aquamarine;
}
.title{
  /* grid-row-start: span 2;
  grid-column-start: span 2; */
  grid-column: 2;
  grid-row: 1;
  grid-row: span 2;
  align-self: center;
  justify-self:center;
}
.logout_btn{
  /* border: 1px;
  border-radius: 10px;
  border-style: solid;
 
  align-self: start;
  align-content: center; */
  
  align-content: center;
  
  width: 70px;
  height: 30px;
  grid-column: 3;
  grid-row: 2;

  align-self: start;
  justify-self:center;

  background-color: green;
}
.useremail{
  grid-area: 1 / 3;

  align-self: end;
  justify-self:center ;
  
}

.navbar {
  padding: 1vw;
  /* margin-top: 0.5vw; */
  margin:0;
  background-color: #61dafb;
}

.link {
  padding: 0.5vw; 
  
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.footer{
  /* background-color: greenyellow;
  color: black;
  margin: 0px;
  margin-bottom: -50px;
  text-align: center;
  padding-top: 1px;
  padding-bottom: 1px;

  position: sticky;
  bottom: 0;
  width: 100vw; */

  background-color: #709FB0;
  color: white;
  text-align: center;
  padding: 10px; 
  margin:0;
  position: block;
  bottom: 0;
  width: 100vw;
  font-weight: bold;
  
}
.item-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.item {
  background-color: orange;
  width: 20vw;
  height: 20vw;
  margin: 1vw;
  display: flex;
  flex-direction: column;
}

.image {
  width: 15vw; 
  height: 10vw;
  align-self: center;
}

.wishlist-btn {
  margin-top: 1vw;
  width: fit-content;
  align-self: center;
}
