@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");
selector {
  font-family: "Lobster", cursive;
}

@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");
selector {
  font-family: "Roboto Condensed", sans-serif;
}

@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");
selector {
  font-family: "Oswald", sans-serif;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
selector {
  font-family: "Montserrat", sans-serif;
}

.App {
  text-align: center;
  /* overflow: hidden; */

  /* TO MAKE THE FOOTER STICKY */
  height: 100vh;
  /* width: 100vw; */
  display: flex;
  flex-direction: column;
  margin:0;

  /* 1st part --> start, last part --> end and everything in between spaced evenly */
  /* putting header to very top and footer to very bottom, causing the space */
  /* justify-content: space-between; */
  /* align-items: center; */
}

body {
  margin: 0;
  /* background-color: #5ca4a9; */
  background-color: #B4C6A6;

  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;

  min-height: 10vw;
}
/* main {
} */

.user-svg{
  color: #ffa372;
}

.App-link {
  /* color: #61dafb; */
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none !important
}

/* #edit-button {
  grid-row: 4;
  grid-column-start: 0;
  grid-column-end: 1;
  margin-left: 1vw;
  margin-top: 0;
} */

#dropdown-basic-button {
  padding: 10px 20px;
  background-color: #ffa372;
  border-radius: 10px;
  border: 1px solid #FF7800;
  color: white;
  font-weight: bold;
  border-style: solid; 
  /* border-color: orange; */
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
  margin-left: 1vw;
}

#dropdown-basic-button:hover {
    background-color: #FF7956;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.3);
  }

#simplishop-header {
  font-size: 5vw;
  margin: 10px;
  color: #ffa372;
  font-weight: bold;
  font-size: 100px;

}

#simplishop-header:hover {

  color: #ffa372;

}

#a-tag-1:hover{
  color: white;
}

#a-tag-2:hover{
  color: white;
}

#a-tag-3:hover{
  color: white;
}

#a-tag-4:hover{
  color: white;
}

#a-tag-5:hover{
  color: white;
}

#item-title{
  color: black;
}

#a-tag-email:hover{
  color: black;
}

/* MEDIA QUERIES */
/*Desktop*/
@media (min-width: 1025px){
  #simplishop-header {
    font-size: 5vw;
   
  }
  
}

/*Tablet*/
@media (min-width: 481px) and (max-width:1024px){
  #simplishop-header {
    font-size: 5vw;
    color: #ffa372;
  }

  #a-tag-email{
    display: none;
  }

  body{
    margin:0;
  }

  #a-tag-1{
    font-size: 10px;
    padding: 5px;
  }

  #a-tag-2{
    font-size: 10px;
    padding: 5px;
  }

  #a-tag-3{
    font-size: 10px;
    padding: 5px;
  }

  #a-tag-4{
    font-size: 10px;
    padding: 5px;
  }

  #a-tag-5{
    font-size: 10px;
    padding: 5px;
  }

  #dropdown-basic-button{
    font-size: 10px;
    padding: 5px;
  }
}

/*Mobile*/
/* REFERENCING ID's */
@media(max-width: 480px){
  /* NAVBAR SIZE IN A COLUMN  */


  /* ITEMS IN A COLUMNN */

  /* HEADER IS SMALLER */
  #simplishop-header {
    font-size: 50px;
    color: #ffa372;
  }

  #a-tag-email{
    /* padding-right: 15px;
    flex-direction: column; */
    display: inline-block;
    float: none;

    /* background-color: red; */
    display: none;
  }
  #a-tag-4{
    font-size: 10px;
    padding: 5px;
  }

  #a-tag-3{
    font-size: 10px;
    padding: 5px;
  }

  #a-tag-5{
    font-size: 10px;
    padding: 5px;
  }

  #a-tag-2{
    font-size: 10px;
    padding: 5px;
  }

  #a-tag-1{
    font-size: 10px;
    padding: 5px;
  }

  #dropdown-basic-button{
    font-size: 10px;
    padding: 5px;
  }

  .user-svg{
    width: 5px;
    height: 5px;
  }
  

  body{
    margin:0;
    /* background-color: blue; */
  }

  /* ACCOUNT GETS PUSHED */

  /* FOOTER IS SMALLER */
  /* .footer{
    width: 100%; 
   margin-bottom: 0;
  } */



  /* #itemSection img{
    size: 10px;
    margin:0;
  } */
}


@media (min-width: 0px) and (max-width: 479px) {
  #simplishop-header {
    font-size: 25px;
    color: #ffa372;
  }

  #a-tag-email{
    display: none;
  }

  body{
    margin:0;
  }

  #a-tag-4{
    font-size: 10px;
    padding: 5px;
  }

  #a-tag-3{
    font-size: 10px;
    padding: 5px;
  }

  #a-tag-5{
    font-size: 10px;
    padding: 5px;
  }

  #a-tag-2{
    font-size: 10px;
    padding: 5px;
  }

  #a-tag-1{
    font-size: 10px;
    padding: 5px;
  }

  #dropdown-basic-button{
    font-size: 10px;
    padding: 5px;
  }

  .user-svg{
    width: 5px;
    height: 5px;
  }
}



 
